.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  padding: 20px;
  background: lightgray;
  border-bottom: 1px solid lightgray;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.test-area{
  width: 150px;
  height: 150px;
  margin: auto;
}

.box-m {
  height: 50px;
  width: 50px;
  border: black 1px solid;
  margin: auto;
}
.box-l {
  height: 100px;
  width: 100px;
  border: lightgray 1px dotted;
  text-align: center;
  margin: auto;
}

button {
  margin: 20px;
  width: 200px;
}
@keyframes show-left {
  from { transform: translateX(-100%); opacity: 0}
    to { transform: translateX(0%); opacity: 1 }
}
@keyframes hide-right {
    from { transform: translateX(0%); opacity: 1}
    to { transform: translateX(100%); opacity: 0 }
}

@keyframes show-right {
  from { transform: translateX(100%); opacity: 0}
    to { transform: translateX(0%); opacity: 1 }
}
@keyframes hide-left {
    from { transform: translateX(0%); opacity: 1}
    to { transform: translateX(-100%); opacity: 0 }
}