header {
  padding: 20px;
  background: lightcoral;
  font-size: 1.3em;
}

main {
  margin: 40px;
} 
.smooth-area{
  width: 300px;
}

.test-area{
  width: 500px;
  min-height: 60px;
}

.box-border {
  border: gray 1px dashed;
  margin:10px;
  padding:10px;
  box-sizing: border-box;
}

.box-m {
  height: 50px;
  width: 50px;
  border: black 1px solid;
  margin: auto;
}
.box-l {
  height: 100px;
  width: 100px;
  border: lightgray 1px dotted;
  text-align: center;
  margin: auto;
}

@keyframes show-left {
  from { transform: translateX(-100%); opacity: 0}
    to { transform: translateX(0%); opacity: 1 }
}
@keyframes hide-right {
    from { transform: translateX(0%); opacity: 1}
    to { transform: translateX(100%); opacity: 0 }
}

@keyframes show-right {
  from { transform: translateX(100%); opacity: 0}
    to { transform: translateX(0%); opacity: 1 }
}
@keyframes hide-left {
    from { transform: translateX(0%); opacity: 1}
    to { transform: translateX(-100%); opacity: 0 }
}